<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FONT LINK  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Manrope:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">

    <title>Document</title>
    <!-- css file link  -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="./css/laptop-style.css">
    <link rel="stylesheet" href="./css/tablet-style.css">
    <link rel="stylesheet" href="./css/mobile-style.css">

    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>


</head>

<body>

    <div class="page-change"></div>



    <section>
        <video autoplay muted loop id="myVideo">
            <source class="bg-hero" src="./img/Hero-bg.mp4" type="video/mp4">
        </video>

        <div class="container landing">
            <div class="protfolio-home">
                <div class="content content-about-scroll">
                    <div class="logo">
                        <h1>Web-Dev</h1>
                    </div>
                    <div class="about-content">
                        <div class="content-about">
                            <h1>About me </h1>
                            <p>I'm a passionate front-end developer with a deep love for creating beautiful and
                                user-friendly web experiences. I thrive on staying up-to-date with the latest web
                                development trends and technologies, ensuring that I can deliver cutting-edge solutions
                                to my clients.</p>
                            <div class="button">
                                <a class="myButton"
                                    href="https://drive.google.com/file/d/1EpnFzi4c0WIQaks48CGIXsIXxFwYJTOc/view?usp=drive_link"
                                    target="_blank">Resume</a>
                            </div>
                        </div>


                        <div class="about-skils">
                            <div class="skills-about">
                                <h1>Skills </h1>
                                <div class="skills-box">
                                    <div class="skills-sets" data-tilt>
                                        <img src="./img/html.png" alt="">
                                        <h5><span>100</span>%</h5>
                                    </div>

                                    <div class="skills-sets" data-tilt>
                                        <img src="./img/css-3.png" alt="">
                                        <h5><span>100</span>%</h5>
                                    </div>

                                    <div class="skills-sets" data-tilt>
                                        <img src="./img/bootstrap.png" alt="">
                                        <h5><span>80</span>%</h5>
                                    </div>

                                    <div class="skills-sets" data-tilt>
                                        <img src="./img/js.png" alt="">
                                        <h5><span>60</span>%</h5>
                                    </div>

                                    <div class="skills-sets" data-tilt>
                                        <img src="./img/github.png" alt="">
                                        <h5><span>70</span>%</h5>
                                    </div>

                                    <div class="skills-sets" data-tilt>
                                        <img src="./img/figma.png" alt="">
                                        <h5><span>90</span>%</h5>
                                    </div>

                                    <div class="skills-sets" data-tilt>
                                        <h4 class="skills-logo">GSAP</h4>
                                        <h5><span>90</span>%</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="section-experience">
                        <div class="section-experience-heading">
                            <h1>Experience</h1>
                        </div>
                        <div class="history-tl-container">
                            <ul class="tl">
                                <li class="tl-item" ng-repeat="item in retailer_history">
                                    <div class="timestamp">
                                        <!-- 3rd March 2015<br>  -->
                                    </div>
                                    <!-- <div class="item-title">Start from Shire</div> -->
                                    <!-- <div class="item-detail">Don't forget the ring</div> -->
                                </li>
                                <li class="tl-item" ng-repeat="item in retailer_history">
                                    <div class="timestamp">
                                        15th Jun 2023<br>
                                    </div>
                                    <div class="item-title">I-TECH SYSTEM</div>
                                    <div class="item-postion">Front End Web Developer</div>
                                    <div class="item-detail">FULL TIME - Responsible of developing beautiful responsive
                                        websites using HTML , CSS , JS , JQUERY , BOOTSTRAP and REACTJS.</div>
                                </li>
                                <li class="tl-item" ng-repeat="item in retailer_history">
                                    <div class="timestamp">
                                        25st March 2023<br>
                                    </div>
                                    <div class="item-title">I-TECH SYSTEM</div>
                                    <div class="item-postion">Front End Web Developer</div>
                                    <div class="item-detail">INTERNSHIP - Responsible of creating beautiful web design
                                        using HTML , CSS ,JAVASCRIPT , BOOTSTRAP</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="navbar">
                    <div class="nav">
                        <ul>
                            <li>
                                <a href="./index.html">
                                    <lord-icon src="https://cdn.lordicon.com/cnpvyndp.json" trigger="hover"
                                        colors="primary:#000000" style="width:250px;height:250px">
                                    </lord-icon>
                                </a>
                            </li>

                            <li>
                                <a href="./about.html">
                                    <lord-icon src="https://cdn.lordicon.com/kthelypq.json" trigger="hover"
                                        style="width:250px;height:250px">
                                    </lord-icon>
                                </a>
                            </li>

                            <li>
                                <a href="./projects.html">
                                    <lord-icon src="https://cdn.lordicon.com/jkzgajyr.json" trigger="hover"
                                        style="width:250px;height:250px">
                                    </lord-icon>
                                </a>
                            </li>

                            <li>
                                <a href="./contact.html">
                                    <lord-icon src="https://cdn.lordicon.com/fdxqrdfe.json" trigger="hover"
                                        style="width:250px;height:250px">
                                    </lord-icon>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>


    >

    <!-- ANIMETD ICONS CDN  -->
    <script src="https://cdn.lordicon.com/lordicon.js"></script>

    <!-- JQUERY CDN LINK  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- GSAP CDN LINK  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/gsap.min.js"
        integrity="sha512-EZI2cBcGPnmR89wTgVnN3602Yyi7muWo8y1B3a8WmIv1J9tYG+udH4LvmYjLiGp37yHB7FfaPBo8ly178m9g4Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- GSAP SCROLLING ANIMATION CDN LINK  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/ScrollTrigger.min.js"
        integrity="sha512-OzC82YiH3UmMMs6Ydd9f2i7mS+UFL5f977iIoJ6oy07AJT+ePds9QOEtqXztSH29Nzua59fYS36knmMcv79GOg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- TILE JS FILE LINK  -->
    <script src="./js/tilt.js"></script>

    <!-- JS LINK FILE  -->
    <script src="./js/script.js"></script>
</body>

</html>